bcrypt==3.2.0
beautifulsoup4==4.8.2
blackboxprotobuf
packaging==20.1
protobuf==3.10.0
PyCryptodome
PySimpleGUI==4.16.0
simplekml
wheel
xmltodict
filetype==1.0.8
python-magic==0.4.24; platform_system == "Linux"
python-magic-bin==0.4.14; platform_system == "Windows"
python-magic-bin; platform_system == "Darwin" and platform_machine == "x86_64"
python-magic; platform_system == "Darwin" and platform_machine == "arm64"
pillow
folium==0.14.0
polyline==2.0.0
fitdecode==0.10.0
bencoding
geopy==2.3.0
xlsxwriter==3.1.1
pytz

